<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Liaison Submitted Date</th>
            <th>Liaison Comments</th>
            <th>Branch Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.submittedDate </td>
            <td>@ViewBag.liaisonComment</td>
            <td>@ViewBag.branchComment</td>

        </tr>
    </tbody>
</table>
