@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Navigation bar *@
<div class="navbar navbar-default nav-top-margin">
    <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</div>

@* Main page *@
<div class="container">
    <div class="row">
        <div class="col-md-5 inlineBlock" >
            <img src="~/Content/img/pics/WarningSign.png" class="img-responsive"/>
        </div>

        <div class="clear"></div>
        <div class="col-md-5 inlineBlock" style="margin-top:10%;">
            <h2 style="margin-bottom:4%">Access denied!!!</h2>
            <h4 style="color:black;">You are not authorized to access this page.</h4>
        </div>
    </div>
</div>





