
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Navigation bar *@
<div class="navbar navbar-default nav-top-margin">
    <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</div>

@* Main page *@
<div class="container">
    <div class="row">
        <div class="col-md-5 inlineBlock">
            <img src="~/Content/img/pics/WarningSign.png" class="img-responsive" />
        </div>

        <div class="clear"></div>
        <div class="col-md-5 inlineBlock" style="margin-top:10%;">
            <h2 style="margin-bottom:4%">Oops! An Error Occurred</h2>
            <p style="color:black;">Something is broken. Please let us know what were you doing when this error occurred. We Will fix it as soon as possible. Sorry for any inconvenience caused.</p>
            @*<p><a href="https://srcu.applefcu.org/">Go back to Home page </a></p>*@
        </div>
    </div>
</div>
