@model SRCUBagTracking.Models.Bag

@{
    ViewBag.Title = "SRCU Comments";
    Layout = null;
}


@*<div class="modal fade bs-example-modal-lg" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">SRCU Comments</h4>
            </div>
            <div class="modal-body" >
    @Html.Partial("_Comments")
    @*<button class="btn btn-success"> New Comment</button>*@
</div>
        @*</div>
    </div>
</div>*@
