@{
    ViewBag.Title = "SRCU Training";
    var BranchId = Session["BranchId"];
}

@if (@BranchId.Equals(160100) || @BranchId.Equals(160200))
{
    @Html.Partial("_AdminNavigation")
}
else
{
@Html.Partial("_LiaisonNavigation")
}
<div class="container mt-5">
        <div class="col-md-12">
            <h2>SRCU Training Videos</h2>
            <hr />
        </div>
        <div class="p-5 bg-white rounded shadow m-3">
            <table style="border-top:hidden" class="table table-responsive">
                <tbody>
                    <tr>
                        <td style="width:570px;"><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Member Service</td>
                        <td><a a href="~/Content/docs/TrainingVids/MemberService/index_lms_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                    </tr>
                    @*<tr>
                            <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Daily Operations</td>
                            <td><a href="~/Content/docs/TrainingVids/DailyOperations/launcher.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                        </tr>*@
                    <tr>
                        <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Procedures</td>
                        <td><a href="~/Content/docs/TrainingVids/SRCUProceduresTraining/story_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Product and Services</td>
                        <td><a href="~/Content/docs/TrainingVids/ProductsAndServices/story_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                    </tr>
                </tbody>
            </table>
           
        </div>
</div>