@{
    ViewBag.Title = "SRCU Training";
    var BranchId = Session["BranchId"];
}

@if (@BranchId.Equals(160100) || @BranchId.Equals(160200))
{
    @Html.Partial("_AdminNavigation")
}
else
{
@Html.Partial("_LiaisonNavigation")
}
<div class="container">
    <br />  <h3> SRCU Training Videos </h3><br /><br />
    <div>
        @*<ul class="nav nav-tabs responsive" id="pTabs">
                <li class="documentTab active"><a data-toggle="tab" href="#tab1">Training Videos</a></li>
            </ul>*@
        @*<div class="tab-content responsive">*@
        @*<div class="tab-pane fade in active panel" id="tab1">*@
        <table style="border-top:hidden" class="table table-responsive">
            <tbody>
                <tr>
                    <td style="width:570px;"><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Member Service</td>
                    <td><a a href="~/Content/docs/TrainingVids/MemberService/index_lms_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                </tr>
                @*<tr>
                        <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Daily Operations</td>
                        <td><a href="~/Content/docs/TrainingVids/DailyOperations/launcher.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                    </tr>*@
                <tr>
                    <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Procedures</td>
                    <td><a href="~/Content/docs/TrainingVids/SRCUProceduresTraining/story_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                </tr>
                <tr>
                    <td><img src="~/Content/img/icons/videoIcon.png" />&nbsp; Product and Services</td>
                    <td><a href="~/Content/docs/TrainingVids/ProductsAndServices/story_html5.html" target="_blank" class="btn btn-info">Play &nbsp;<img src="~/Content/img/icons/PlayIcon.png" /></a></td>
                </tr>
            </tbody>
        </table>

        @*<div class="panel-body"><a href="~/Content/docs/TrainingVids/SRCUMemberServiceTraining1/story_html5.html" target="_blank"><img src="~/Content/img/icons/videoIcon3.png" /></a> Member Service </div><br />
            <div class="panel-body"><a href="~/Content/docs/TrainingVids/DailyOperations/launcher.html" target="_blank"><img src="~/Content/img/icons/videoIcon3.png" /></a> Daily Operations </div><br />
            <div class="panel-body"><a href="~/Content/docs/TrainingVids/SRCUProceduresTraining/story_html5.html" target="_blank"><img src="~/Content/img/icons/videoIcon3.png" /></a> Procedures </div><br />
            <div class="panel-body"><a href="~/Content/docs/TrainingVids/ProductsAndServices/story_html5.html" target="_blank"><img src="~/Content/img/icons/videoIcon3.png" /></a> Product and Services </div><br />*@
        @*</div>*@
        @*</div>*@
    </div>
</div>
