body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0px;
    padding-bottom: 20px;
    height:100%;
    margin: 0;
    overflow-x:hidden;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 220px;
}
/*------------------ customized tags------------*/

h1, h2, h3, h4, h5, h6 {
    color: #d22734;
    margin: 0;
    font-weight: bold;
    line-height: 1.2em;
}

h1 {
    font-size: 1.1em;
    text-shadow: #fff 0 1px 0;
    font-weight: bold;
    line-height: 1.2em;
}

.nav-tabs .documentTab{
    padding-left:22px;
    padding-right:24px;
}

a {
    color: #d22734;
    text-decoration: none;
}
/* -------------color pallet----------------*/
.catalinaBlue {
    color: #1c355e;
}

.catalinaBlue-bg {
    background-color: #1c355e;
}


.lightBlue {
   /* color: #00b2ca;*/
   color: #9dc6d8;
}

.lightBlue_bg {
    background-color: rgba(157, 198, 216, 0.5);
}

.lightGreen {
    color: #6ccdb3;
}

.lightGreen_bg {
    
    background-color: rgba(108, 205, 179, 0.5);
}

.lightYellow {
    color: #ead98b;
}

.lightYellow-bg {
    background-color: rgba(234, 217, 139, 0.5);
}



.blue_Background{
    background-color:#66a6c2;
}

.brown_Background{
    background-color:#7c403c;
}

.brownOrange{
    color:#c85948;
}

.brownOrange_Background{
    background-color:#c85948;
}
.cyan-green{
    color:#6ccdb3;
}

.cyan-green_Background{
    background-color:#6ccdb3;
}


.darkgrey {
    color: #676767;

}

.darkgrey_Background{
    background-color:#3e3d3d;
}

.darkGreen_Background{
    background-color:#7e7b4e;
}
.grey {
    color: #CCCCCC;
}
.grey_Background {
    background-color: #CCCCCC;
}

.green_background{
    background-color: #b5bd00;
}

.inlineBlock{
    display:inline-block;
}


.lightBrown_Background{
    background-color:#b66e68;
}
.lightBrownOrange_Background{
    background-color:#da8e83;
}
.lightCyan-green{
    color:#a5e0d1;
}

.lightCyan-green_Background{
    background-color:#a5e0d1;
}

.lightGreen_Background{
    background-color:#a7a471;
}
.lightPink_Background{
    background-color:#f1b1bd;
}
 .lightPurple{
     color:#cb52a2;
 }

 .lightPurple_Background{
     background-color:#ca51a2;
 }

 .pink_Background{
     background-color:#e98698;
 }
.purple{
    color:#722257;
}

.purple_Background{
    background-color:#722257;
}
.red{
    color:#b12029;
}

.red_Background{
      background-color:#b12029;
}

.white{
    color:white;
    font-weight:bold;
}

.white_Background{
    background-color:#ffffff;
}

.yellow{
    color:#c5af4a;
}

.yellow_Background{
    background-color:#c5af4a;
}

.linkColor {
color:#555;
}
/* ---------------- alignment and size-----------*/

.bigger{
    font-size:28px;
}

.big{
    font-size:20px;
}
.bold{
    font-weight:bold;
}

.valigns{
    vertical-align:central;
}
.margin-top {
    margin-top: 7%;
}

.padding-left {
    padding-left: 10%;
}

.margin-left{
    margin-left:3%;
}

.margin-bottom{
    padding-bottom:100px;
}
.no-bold{
    font-weight:normal;
}

.small{
    font-size:13px;
}

/* class style for span disclaimers new class style added for the Marketing Web content box*/
span.disclaimers {
    font-size: 11px;
    padding: 0px;
}
/********************************************/
/*@media only screen and (device-width: 768px) {*/
/*#loginLogo{
position: relative;
    top:25px;
    left:30%;
}
#loginForm{
    margin-left:55%;
}*/
/*}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {*/
    /* For portrait layouts only */
    /*#loginLogo {
        left: 40%;
    }

    #loginForm {
        margin-left: 5%;
    }*/
/*}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {*/
  /* For landscape layouts only */
  /*#loginLogo{
    left:40%;
}*/
/*}*/

/*--------------- Layout , navbar design -------------*/
/*.navbar ul li a:hover, .navbar ul li.selected a {
    font-weight: bold;
    color:red;
    text-decoration: none;
    line-height: 25px;
    height: 50px;
}*/

.text-decoration-ul {
text-decoration:underline;
}

#logoHeader{
padding-top:2%;
}

.nav-top-margin{
    margin-top:1%;
}

.menuBlock:hover:not(.active){
     background-color: rgba(0, 0, 0, .125);
}
.appleLogo{
    position: relative;
    bottom:7px;
}

.srcu-brand {
  float:right;
  padding: 19px 15px;
  margin-top:18px;
  font-weight:bold;
  font-size: 32px;
  line-height: 28px;
  color:#b12029; 
}

.navbar-menu{
    font-size:18px;
    font-weight:bold;  
}

/* Tooltip container */
.tooltipPop {
    position: relative;
    display: block;
}

    .tooltipPop .tooltiptext {
        visibility: hidden;
        background-color: RGBA(204,204,204,0.5);
        color: #1c355e !important;
        text-align: left;
        border-radius: 6px;
        padding: 5px 0;
        text-shadow: 1px 1px 2px white;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 25px;
        width: 250px;
        /* Position the tooltip */
        position: absolute;
        top: 40px;
        right: 3%;
        z-index: 1;
        transition: all 500ms ease-in-out;
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2);
    }

.tooltipPop:hover .tooltiptext {
    visibility: visible;
}
.popup {
    position:absolute;
    top:115px;
    left:57%;
    height:150px;
    width:280px;
    border-radius:10px;
    background:#ccc;
    display:block;
     color: #1c355e !important;
    text-shadow:1px 1px 2px white;
    padding:10px;
    opacity:0.8;
    box-shadow:-2px 2px 8px grey;
}

/*--------------- Layout , body design -------------*/

/*.srcu-body{
    height: 100%;
}*/

/*----------------------Login-------------*/
#loginBody {
    width: 100%;
    height: 100%;
   /* background-image: url('../img/pics/SRCUSwoosh.png');*/
  
}
h2.red{
     text-shadow: 2px 2px 4px #000000;
    font-weight:bold;
}

/*#appleLogoLogin{
  position: relative;
  left:22%;
  top:-100px;
}*/
#loginLogo{
    margin: 10% auto 5%;
    padding-left:5%;
    /*position: relative;
    top:45px;
    left:10%;*/    /*30%*/
    /*width:80%;*/
}
#loginBox {
    background-image: url('../img/pics/backToSchool.jpg');
    height: 375px;
    width: 500px;
    border: 1px solid #c5b9ac;
    margin: 0 auto;
    /*position:absolute;
    left:20%;*/     /*38%*/
    /*top:13em;*/
    box-shadow: 5px 10px 15px rgba(0,0,0, 0.3);
    border-radius:10px;
}

#loginTitle{
    position: relative;
    top:25px;
    left:52%;
    font-size:6em;
    /*float:right*/
}

#loginForm{
    margin-left:3%;
    margin-right:3%;


}
.loginError{
    padding-top:22%;
    padding-left:5%;
    font-weight:bold;
}




/*************************************Liaison bag library*************************************/

.webgrid-table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    width: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #1C355E;
    background-color: white;
}


    .webgrid-table td, th {
        border: 1px solid #1C355E;
        padding: 3px 7px 2px;
    }

    .webgrid-table td{
        font-weight:300;
        font-size:13px;
        font-family:sans-serif;      
    }

/*
    background-color:#c5b9ac
    color: #4f4337;
*/
.webgrid-header {
    background-color: #1C355E;
    color: #fff;
    padding-bottom: 6px;
    padding-top: 5px;
    text-align: left;
    text-transform:uppercase;
}

    .webgrid-header a {
    color: #fff;
    text-decoration:underline;
    }

    .webgrid-footer {
    }

.webgrid-row-style {
    padding: 3px 7px 2px;    
}

.webgrid-alternating-row {
    /*background-color: #edeae6;*/
    background-color: rgba(157, 198, 216, 0.5);
    color: #1C355E;
    padding: 3px 7px 2px;
}


tr .webgrid-header {
    color: white;
}


/*----------- Dashboard------------*/

.dashBox{
    border: 1px #e7e5e5 solid;
    /*width: 100%;*/
    height: 160px;
    /*border-radius:15px;*/
    margin:2%;
    color:#473d31;
    font-weight:bold;      
}

.dashBox .table > tbody > tr > td {
     vertical-align: middle;
     padding-left:5%;
}

.schoolIcon > tbody > tr > td {
     vertical-align: middle;
     text-align:center;
     padding-left:2%;
}

.AdminDashboard {
margin-top: 30px;
}
/*---------Admin----------------*/
.schoolBox {
    /*border: 2px #e7e5e5 solid;*/
    height: 60px;
    margin: 6%;
    color: #473d31;
    font-weight: bold;
    font-size: 12px;
    width: 180px;
    /*padding-left:2px;*/
}


a.editSchool
{
    padding:2px;
    text-decoration:none;
}

a.editSchool:hover
{
    font-size:large;
    color:white;
    
}

.CTA_btn {
    background-color: #B12029;
    color: #fff;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    padding: 5px 20px;
}

    .CTA_btn:hover {
        color: white !important;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
        cursor: pointer;
        transform: translateY(-7px);
    }

.allSchools {
margin: 30px;
}

.btn_area {
margin: 50px auto;
}
/*------------------- Branch-------------------------------*/
.BRdashBox {
    /*border: 2px #e7e5e5 solid;*/
    /*width: 100%;*/
    height: 223px;
    /*border-radius:15px;*/
    padding-bottom: 2%;
    margin: 5%;
    color: #473d31;
    font-weight: bold;
}

#BranchModal{
top:10%;
/*right:50%;*/
outline: none;
}

.action{
    width:8%;
}

/* -------------------  Contact Us ---------------------*/

/*Deposit dept Email Notification table*/
#SMtable {
    width: 60%;
}

#SMtitle {
    font-weight: 600;
}

#SMtable, .SMth, .SMtd {
    border: 1px solid black;
    border-collapse: collapse;
}

.SMth, .SMtd {
    padding: 5px;
    text-align: left;
}

.SMth {
    background-color: #B12029;
    color: white;
}

.SMtr:nth-child(odd) {
    background-color: #c5b9ac;
}

.SMtr:nth-child(even) {
    background-color: #ffffff;
}

/* #Trash */
/*.contactUsForm{
    border:1px solid gray; 
    width:40%; 
    position:absolute; 
    left:35%; 
    padding:40px; 
    border-radius:20px;
    box-shadow: 2px 2px 4px #000000;
}
*/
/* -------------------------Marketing Tab--------------------------*/
/* #Trash */
/*.marketingTabFrame{
    margin-left:2%; 
    margin-top: 4%; 
    margin-right:4%;
    line-height: 26px;
}*/

.marketingWebContent{
    border:1px solid #c5b9ac; 
    width: 900px; 
    padding:20px; 
    border-radius:10px; 
    line-height:26px;
}


.logoImage
{
/*    border:1px solid #8a8587; 
    margin-top:10%;
    border-radius:4px;
     box-shadow: 5px 5px 5px #888888;*/
border-bottom: 1px solid black;
}

.DLbutton{
    margin-bottom:10px;
}

.flyerBox
{
    border:1px solid #bdbdbd; 
    border-radius:10px;
    padding: 3%; 
    margin-top:5%;
    margin-right:3%;
    font-size:14px; 
    text-align:center;
    box-shadow: 5px 5px 5px #888888;
}

.flyerImage
{
    border:1px solid #8a8587; 
    margin-top:10%;
}

.onBoardingEmailBox
{
    border:1px solid #bdbdbd; 
    border-radius:10px;
    padding: 3%; 
    margin-top:2%;
    margin-right:5%; 
    text-align:center;
    box-shadow: 5px 5px 5px #888888;
}

.onBoardingEmailImage
{
    border:1px solid #8a8587; 
    margin-top:20%;
    margin-left:-2px;
}

.marketingUpdateNewTag {
    width:40px;
    position:relative;
    bottom:95px; 
    left:35px;
}

.container-fluid-customSize {
padding: 0;
}

.navbar-nav {
margin-left: auto;
padding: 15px;
}

.navbar-brand {
padding: 15px;
}


/**********************  tabular table design  ************************/

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;

}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

/* With arrow tabs */

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.upload-frame {
border: 1px lightgray solid;
border-radius:20px;
max-width:90%;
width:50%;
margin: 30px auto;

}


.page-header {
    color: #1c355e;
}

button#workYes.btn, button#workNo.btn {
    font-weight:700;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow: 2px 2px 4px #d0d0d0, -2px -2px 4px #f0f0f0;
}

    button#workYes.btn:hover, button#workYes.btn:focus, button#workYes.btn:active {
        background: #a7d1a7;
        color: green;
    }

    button#workNo.btn:hover, button#workNo.btn:focus, button#workNo.btn:hover:active {
        background: #e0a7a7;
        color: #d22734;
    }

li.nav-item span.branch-info {
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(177, 32, 41, 0.4);
}
